# func()
snippet func
	func ${1}() {
	       ${2} 
	}
# guard statement
snippet guard
	guard ${1} else {
		${2}
	}
# conditional statement
snippet cond
	if ${1} {
		${2}
	}
# Class
snippet cl
	class ${1: `Filename('$1', 'name')`} {
		${2}
	}
# enum
snippet enum
	enum ${1} {
	  case ${2}
	}
# Mark
snippet mark
	// MARK: ${1}	
